# Секреты
.env
credentials.json
client_secret.json
authorized_user.json
*.pem
*.key

# Виртуальные окружения
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# VS Code
.vscode/
.idea/

# Логи
*.log

# Windows / macOS
Thumbs.db
.DS_Store
desktop.ini
